{% extends "base/Chat_Base.html" %}


{% block content %}

<div class="col-md-9 col-lg-10 chat-window p-3">
  <div class="chat-messages p-3" id="chat-log">
      {% for msg in message %}
      <div class="message mb-2 {% if msg.sender_message == sender %}right{% else %}left{% endif %}">
          <div class="d-flex align-items-start">
              <img src="{% if msg.sender_message == sender %}{{ sender.profile_picture.url }}{% else %}{{ receiver.profile_picture.url }}{% endif %}" class="rounded-circle" alt="User">
              <div class="ml-3">
                  <div class="message-content bg-{% if msg.sender_message == sender %}primary text-white{% else %}light{% endif %} p-2 rounded">
                      <p>{{ msg.text_body }}</p>
                  </div>
                  <small>{{ msg.timestamp }}</small>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  <div class="chat-input p-3 border-top">
      <form method="post" class="input-box d-flex w-100" id="message_form">
          {% csrf_token %}
          <input type="text" id="chat-message-input" class="form-control" name="message_body">
          <button id="chat-message-submit" type="submit">Send</button>
      </form>
  </div>
</div>

{% endblock content %}

{% block block_js %}
<script>

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  //getting the csrftoken as django need this
  const csrftoken = getCookie('csrftoken');


  
  //Urls For fetching the data from the function of Views.py
  const url = "{% url 'send-message' friend %}"
  const receiver_url = "{% url 'recieve-message' friend %}"
  
  const form = document.getElementById("message_form")
  form.addEventListener("submit", preventReloading)


/*
* This function will prevent the default reloading of the chat page 
* And call the postJson function which fetch data from the function in Views.py
*/
  function preventReloading(e){
    e.preventDefault()
  
    const body_message = document.getElementById("chat-message-input").value 
    
    

    postJSON(body_message);



  
  }


  
/*
*function data from the Views.py
*And create a message box for sender
*/
  async function postJSON(data) {
    try {
      
      const response = await fetch(url, {
        method: "POST", // or 'PUT'
        headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify(data),
      });
  
      const result = await response.json();

      if (result != " "){
        
        let chat_div = document.getElementById("chat-log")
        let message_div = document.createElement("div")
        message_div.classList.add("message", "mb-2", "right")
  
        let avatar_container = document.createElement("div")
        avatar_container.classList.add("avatar")
  
        let avatar_pic = document.createElement("img")
        avatar_pic.src = "{{ sender.profile_pic.url }}"
        avatar_pic.classList.add("avatar")
  
        let message_span = document.createElement("span")
        message_span.classList.add("d-block")
        message_span.textContent = data;
  
        avatar_container.append(avatar_pic)
        message_div.append(avatar_container)
        message_div.append(message_span)
        chat_div.append(message_div)
  
        document.getElementById("chat-message-input").value = "";

      }

    } catch (error) {
      console.error("Error:", error);
    }
  }
  
  setInterval(checkReceiveMessage, 1000)
  
  //counter for determining if the there is any new message or not
  let counter = {{ last_message_index }};

  
  /*
  *function will be called are after every second to check if there is new message instance or not
  *if True {create a message box for receiving}
  *else {do nothing}
  */
  async function checkReceiveMessage(){
    try {
      
      const response = await fetch(receiver_url, {
        method: "POST", // or 'PUT'
        headers: {
          "Content-Type": "application/json",
          'X-CSRFToken': csrftoken,
        },
        
      });
  
      const result = await response.json();
      

      if(result.length == 0){}

      else{

        let last_message = result[result.length-1]

        if (counter == result.length){}

        else{

          let chat_div = document.getElementById("chat-log")
          let message_div = document.createElement("div")
          message_div.classList.add("message", "mb-2", "left")
    
          let avatar_container = document.createElement("div")
          avatar_container.classList.add("avatar")
    
          let avatar_pic = document.createElement("img")
          avatar_pic.src = "{{ receiver.profile_pic.url }}"
          avatar_pic.classList.add("avatar")
    
          let message_span = document.createElement("span")
          message_span.classList.add("d-block")
          message_span.textContent = last_message;
    
          avatar_container.append(avatar_pic)
          message_div.append(avatar_container)
          message_div.append(message_span)
          chat_div.append(message_div)

          
        }
      }

      //Needed reassinged the counter with the updated length of the message array.
      counter = result.length

    }

    catch (error) {
      console.error("Error:", error);
    }
  }
  
  {% comment %} const data = { username: "example" }; {% endcomment %}

</script>
{% endblock block_js %}