{% extends "base/users_base.html" %}

{% block content %}
<div class="container" >
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 welcome-section d-none d-md-block" style="height: 45rem;">
            <h2>Sing Up!</h2>
        </div>
    <div class="col-md-6 login-section" style="height: 45rem; line-height: 1.5;">
        <form class="form-signin" method="post">
            <h4>Register here</h4>
            {% if messages %}
                <p>{{ messages.error }}</p>
            {% endif %}

            {% csrf_token %}
            
            {{ form }}
            <br>
            <button type="submit" class="btn btn-primary login-btn">Sign up</button>
        </form>
        <br>
        <p>Already have account? <a href="{% url 'login-user' %}">Log in</a></p>
    </div>
    </div>
</div>


{% endblock content %}